.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 20px;
}

.col {
    width: 50%;
    padding: 10px;
}

.col_12 {
    width: 100%;
    display: flex;
    justify-content: center;
}

.btn_form {
    padding: 5px 10px;
    color: white;
    background-color: rgba(92, 92, 166, 0.871);
    cursor: pointer;
    border-radius: 10px;
    margin-left: 50px;
}