/*reset*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 900px;
    margin: 0 auto;
}

body {
    background-color: rgb(30 115 153 / 88%);
    font-family: 'Merriweather', serif;
}

section {
    padding-top: 50px;
    padding-bottom: 200px;
}

footer {
    background-color: rgb(20, 18, 18);
}

.img-detail {
    width: 300px;
    aspect-ratio: 1/1;
}